html {
  line-height: 1.15;
  font-size: 1rem;
  -webkit-text-size-adjust: 100%;
}

body {
  transition: color 200ms, background-color 300ms;
  background-color: #e5e7eb;
  user-select: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0;
}

.container {
  width: 300px;
  min-height: 450px;
  background: #e5e7eb url("../images/backgrounds/bg.jpg") no-repeat scroll center;
  background-size: cover;
}

.container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 8px;
}

.container .title .pageHeading {
  font-weight: 700;
  font-size: 12px;
  font-style: italic;
  margin-top: -10px;
}

.container .hero-title {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem 0 2rem;
}

.container .hero-title p {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.container .count {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.container .count #total-count {
  font-weight: bold;
  font-size: xxx-large;
}

.container .count .desc {
  color: #9a9a9a;
}

.container .stats-container {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
  margin-left: 3px;
}

.container .stats-container > div {
  display: flex;
  align-items: center;
}

.container .stats-container > div p {
  display: flex;
  gap: 0.2rem;
  font-weight: 600;
  color: white;
  margin-left: 13px;
  font-size: 12px;
}

.container .stats-container img {
  width: 50px;
}
